body{
    background-color: olive;
}

h1{
    background-color: purple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h5{
    color:green;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}